doctype html
html
    include includes/templates/header.pug

    style(type="text/css")
        |   :root {
        |        /* images */
        |        --header-image: url('!{header}');
        |        --body-bg-image: url('!{background}');
        |        /* colors */
        |        --content: rgba(255, 255, 255, 0.85);
        |        --borders: rgb(190, 190, 190);
        |        --stressed: #000000;
        |        --normal: #000000;
        |    }

body
    #container
        include includes/templates/head.pug
        each image, index in images
            #flex
                main
                    a(href=image)
                        img(src=image alt="")
                    blockquote
                        h4=titles[index]
        footer.
            Ex Libris Idolum 2023
