#top
   h1: a(href='/home')
        img(src=linebreak, width='200')
        br
        img(src=left, width='40', height='19')
        | Idolum Collection
        img(src=right, width='40', height='19')
        br
        img(src=linebreak, width='200')
nav#navbar
    ul
        each link in links
            li
                a(href='/' + link)
                    | !{link}